<header>
    <h2>Spartagram</h2>
    <nav>
        <ul>
            <li><a href="/groups-layout">Groups</a></li>
            <li><a href="/users-layout">Users</a></li>
            <li><a href="/images-layout">Photos</a></li>
        </ul>
    </nav>
</header>

<script>
    <!--  GET groups layout  -->
    // const links = document.querySelectorAll('header nav li a');
    //
    // links.forEach(
    //     (item) => {
    //         item.addEventListener('click', function (e) {
    //                 e.preventDefault();
    //                 const href = this.getAttribute('href');
    //                 if (href == '/groups') {
    //                     axios({
    //                         method: 'get',
    //                         url: '/groups-layout',
    //                         responseType: 'JSON'
    //                     })
    //                         .then(function (response) {
    //                             console.log(response)
    //                         });
    //                 } else if (href == '/users-layout') {
    //                     axios({
    //                         method: 'get',
    //                         url: '/users-layout',
    //                         responseType: 'JSON'
    //                     })
    //                         .then(function (response) {
    //                             console.log(response)
    //                         });
    //                 } else {
    //                     axios({
    //                         method: 'get',
    //                         url: '/images-layout',
    //                         responseType: 'JSON'
    //                     })
    //                         .then(function (response) {
    //                             console.log(response)
    //                         });
    //                 }
    //             }
    //         )
    //     }
    // )
</script>