<div class="images">
    <div class="div1">
        <img src="static/images/sparta_1.jpeg" alt="user-image">
    </div>
    <div class="div2">
        <img src="static/images/sparta_2.png" alt="user-image">
    </div>
    <div class="div3">
        <img src="static/images/sparta_3.jpeg" alt="user-image">
    </div>
    <div class="div4">
        <img src="static/images/sparta_4.jpeg" alt="user-image">
    </div>
    <div class="div5">
        <img src="static/images/sparta_5.jpeg" alt="user-image">
    </div>
    <div class="div6">
        <img src="static/images/sparta_6.jpeg" alt="user-image">
    </div>
    <div class="div7">
        <img src="static/images/sparta_7.jpeg" alt="user-image">
    </div>
    <div class="div8">
        <img src="static/images/sparta_8.jpeg" alt="user-image">
    </div>
    <div class="div9">
        <img src="static/images/sparta_9.jpeg" alt="user-image">
    </div>
</div>